In [19]:
import pandas as pd
import numpy as np
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.feature_extraction import DictVectorizer
from sklearn.linear_model import Ridge
from scipy import sparse

In [6]:
data_train = pd.read_csv('data/data_train.csv')
data_test = pd.read_csv('data/data_test.csv')sparse

In [7]:
data_train.head()

,FullDescription,LocationNormalized,ContractTime,SalaryNormalized
0,International Sales Manager London ****k ****...,London,permanent,33000
1,An ideal opportunity for an individual that ha...,London,permanent,50000
2,Online Content and Brand Manager// Luxury Reta...,South East London,permanent,40000
3,A great local marketleader is seeking a perman...,Dereham,permanent,22500
4,Registered Nurse / RGN Nursing Home for Young...,Sutton Coldfield,NaN,20355

In [11]:
data_train['FullDescription'].apply(str.lower)
data_train['FullDescription'] = data_train['FullDescription'].replace('[^a-zA-Z0-9]', ' ', regex = True)

In [12]:
data_test['FullDescription'].apply(str.lower)
data_test['FullDescription'] = data_test['FullDescription'].replace('[^a-zA-Z0-9]', ' ', regex = True)

In [13]:
vectorizer = TfidfVectorizer(min_df=5)

In [16]:
X_train = vectorizer.fit_transform(data_train['FullDescription'])
X_test = vectorizer.transform(data_test['FullDescription'])

In [17]:
data_train['LocationNormalized'].fillna('nan', inplace=True)
data_train['ContractTime'].fillna('nan', inplace=True)

In [18]:
ohe = DictVectorizer()
X_train_categ = ohe.fit_transform(data_train[['LocationNormalized', 'ContractTime']].to_dict('records'))
X_test_categ = ohe.transform(data_test[['LocationNormalized', 'ContractTime']].to_dict('records'))

In [24]:
train = sparse.hstack([X_train, X_train_categ])
test = sparse.hstack([X_test, X_test_categ])

In [22]:
ridge = Ridge(alpha=1, random_state=241)
ridge.fit(train, data_train['SalaryNormalized'])

Ridge(alpha=1, copy_X=True, fit_intercept=True, max_iter=None, normalize=False,
      random_state=241, solver='auto', tol=0.001)

In [25]:
ridge.predict(test)

array([56555.61500155, 37188.32442618])