In [25]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
from sklearn.metrics import accuracy_score, precision_score, recall_score, \
                            f1_score, roc_auc_score, precision_recall_curve

In [44]:
data1 = pd.read_csv('data/classification.csv')
data.head()

   true  score_logreg  score_svm  score_knn  score_tree
0     0      0.683832   0.145976   0.787063    0.500000
1     1      0.801966   0.239511   1.000000    0.833333
2     0      0.382315  -0.245701   0.000000    0.000000
3     1      0.506797  -0.137058   0.000000    0.105263
4     1      0.488781  -0.154148   0.000000    0.105263

In [12]:
score = {
    'TP': ((data['true'] == 1) & (data['pred'] == 1)).sum(),
    'FP': ((data['true'] == 0) & (data['pred'] == 1)).sum(),
    'FN': ((data['true'] == 1) & (data['pred'] == 0)).sum(),
    'TN': ((data['true'] == 0) & (data['pred'] == 0)).sum()
}

In [13]:
for k, v in score.items():
    print('{} - {}'.format(k, v))

TP - 43
FP - 34
FN - 59
TN - 64

In [18]:
score['Accuracy'] = (score['TP'] + score['TN']) / (score['TP'] + score['FP'] + score['FN'] + score['TN'])
score['Precision'] = score['TP'] / (score['TP'] + score['FP'])
score['Recall'] = score['TP'] / (score['TP'] + score['FN'])
score['F1'] = 2 * score['Precision'] * score['Recall'] / (score['Precision'] + score['Recall'])

In [19]:
for k, v in score.items():
    print('{} - {}'.format(k, v))

TP - 43
FP - 34
FN - 59
TN - 64
Accuracy - 0.535
Precision - 0.5584415584415584
Recall - 0.4215686274509804
F1 - 0.48044692737430167

In [20]:
print('Accuracy - {}'.format(accuracy_score(data['true'], data['pred'])))
print('Precision - {}'.format(precision_score(data['true'], data['pred'])))
print('Recall - {}'.format(recall_score(data['true'], data['pred'])))
print('F1 - {}'.format(f1_score(data['true'], data['pred'])))

Accuracy - 0.535
Precision - 0.5584415584415584
Recall - 0.4215686274509804
F1 - 0.48044692737430167

In [21]:
data = pd.read_csv('data/scores.csv')
data.head()

   true  score_logreg  score_svm  score_knn  score_tree
0     0      0.683832   0.145976   0.787063    0.500000
1     1      0.801966   0.239511   1.000000    0.833333
2     0      0.382315  -0.245701   0.000000    0.000000
3     1      0.506797  -0.137058   0.000000    0.105263
4     1      0.488781  -0.154148   0.000000    0.105263

In [46]:
for i in data.columns[1:]:
    print('{} - {}'.format(i, roc_auc_score(data['true'], data[i])))

score_logreg - 0.719187675070028
score_svm - 0.7086834733893557
score_knn - 0.6351540616246498
score_tree - 0.6919267707082833

In [43]:
for i in data.columns[1:]:
    scores = precision_recall_curve(data['true'], data[i])
    print('{} - {}'.format(i, max(scores[0][scores[1] > 0.7])))

score_logreg - 0.6302521008403361
score_svm - 0.6228070175438597
score_knn - 0.6065573770491803
score_tree - 0.6517857142857143

In [35]:
scores = precision_recall_curve(data['true'], data['score_logreg'])

In [39]:
max(scores[1][scores[0] > 0.7])

0.5816326530612245